<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <div class="row">
        <div class="col-12">
            <h2><mat-icon class="back" routerLink="/setting/company-code-list">arrow_back</mat-icon>Company code
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <form [formGroup]="companyCodeFormData" (ngSubmit)="submitData()">
                <div class="row border">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">Company Code <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Company Code" formControlName="companyCode">
                        <div
                            *ngIf="companyCodeFormData.controls['companyCode'].touched && companyCodeFormData.controls['companyCode'].dirty && companyCodeFormData.controls['companyCode'].hasError('required') && !isSubmitted">
                            <p class="error-message">Company Code is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && companyCodeFormData.controls['companyCode'].hasError('required')">
                            <p class="error-message">Company Code is mandatory</p>
                        </div>
                    </div>
                    
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">Company Name <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Company Name"
                            formControlName="companyName">
                        <div
                            *ngIf="companyCodeFormData.controls['companyName'].touched && companyCodeFormData.controls['companyName'].dirty && companyCodeFormData.controls['companyName'].hasError('required') && !isSubmitted">
                            <p class="error-message">Company Name is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && companyCodeFormData.controls['companyName'].hasError('required')">
                            <p class="error-message">Company Name is mandatory</p>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">Address</label>
                        <input type="text" class="form-control " placeholder="Enter Address" formControlName="address">


                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">

                        <label for="" class="">Country </label>
                        <select class="form-select " aria-label="Default select example" formControlName="country">
                            <option [selected]="companyCodeFormData.value.country === ''" value="" hidden>
                                Select
                                Country</option>
                                <option value="India">India</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">State </label>
                        <select class="form-select " aria-label="Default select example" formControlName="state">
                            <option [selected]="companyCodeFormData.value.state === ''" value="" hidden> Select State</option>
                            <option value="1">Andhra Pradesh</option>
                            <option value="2">Arunachal Pradesh</option>
                            <option value="3">Assam</option>
                            <option value="1">Bihar</option>
                            <option value="2">Chhattisgarh</option>
                            <option value="3">Goa</option>
                            <option value="1">Gujarat</option>
                            <option value="2">Haryana</option>
                            <option value="3">Himachal Pradesh</option>
                            <option value="1">Jharkhand</option>
                            <option value="2">Karnataka</option>
                            <option value="3">Kerala</option>
                            <option value="1">Madhya Pradesh</option>
                            <option value="2">Maharashtra</option>
                            <option value="3">Manipur</option>
                            <option value="1">Meghalaya</option>
                            <option value="2">Mizoram</option>
                            <option value="3">Nagaland</option>
                            <option value="1">Odisha</option>
                            <option value="2">Punjab</option>
                            <option value="3">Rajasthan</option>
                            <option value="1">Sikkim</option>
                            <option value="2">Tamil Nadu</option>
                            <option value="3">Telangana</option>
                            <option value="1">Tripura</option>
                            <option value="2">Uttar Pradesh</option>
                            <option value="3">Uttarakhand</option>
                            <option value="1">West Bengal</option>

                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">

                        <label for="">City </label>
                        <select class="form-select " aria-label="Default select example" formControlName="city">
                            <option [selected]="companyCodeFormData.value.city === ''" value="" hidden> Select City</option>
                                <option value="1">Agra</option>
                                <option value="2">Aligarh</option>
                                <option value="3">Ambedkar Nagar</option>
                                <option value="3">Amethi</option>
                                <option value="3">Amroha</option>
                                <option value="3">Auraiya</option>
                                <option value="3">Ayodhya</option>
                                <option value="3">Azamgarh</option>
                                <option value="3">Baghpat</option>
                                <option value="3">Bahraich</option>
                                <option value="3">Ballia</option>
                                <option value="3">Balrampur</option>
                                <option value="3">Banda</option>
                                <option value="3">Barabanki</option>
                                <option value="3">Bareilly</option>
                                <option value="3">Basti</option>
                                <option value="3">Bijnor</option>
                                <option value="3">Budaun</option>
                                <option value="3">Bulandshahr</option>
                                <option value="3">Chandauli</option>
                                <option value="3">Chitrakoot</option>
                                <option value="3">Deoria</option>
                                <option value="3">Etah</option>
                                <option value="3">Etawah</option>
                                <option value="3">Firozabad</option>
                                <option value="3">Gautam Buddha Nagar (Noida)</option>
                                <option value="3">Ghaziabad</option>
                                <option value="3">Ghazipur</option>
                                <option value="3">Gonda</option>
                                <option value="3">Gorakhpur</option>
                                <option value="3">Hamirpur</option>
                                <option value="3">Hapur</option>
                                <option value="3">Hardoi</option>
                                <option value="3">Hathras</option>
                                <option value="3">Jalaun</option>
                                <option value="3">Jaunpur</option>
                                <option value="3">Jhansi</option>
                                <option value="3">Kannauj</option>
                                <option value="3">Kanpur Dehat</option>
                                <option value="3">Kanpur Nagar</option>
                                <option value="3">Kasganj</option>
                                <option value="3">Kaushambi</option>
                                <option value="3">Kushinagar</option>
                                <option value="3">Lakhimpur Kheri</option>
                                <option value="3">Lalitpur</option>
                                <option value="3">Lucknow</option>
                                <option value="3">Maharajganj</option>
                                <option value="3">Mahoba</option>
                                <option value="3">Mainpuri</option>
                                <option value="3">Mathura</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">

                        <label for="">Pin Code </label>
                        <input type="text" class="form-control " placeholder="Enter Pin Code" formControlName="pinCode">


                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Mobile <sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="Enter mobile number" formControlName="mobile"  min="0" maxlength="10" (keypress)="onlyNumberKey($event)">

                        <div
                            *ngIf="companyCodeFormData.controls['agentId'].touched && companyCodeFormData.controls['agentId'].dirty && companyCodeFormData.controls['agentId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Mobile Number is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && companyCodeFormData.controls['agentId'].hasError('required')">
                            <p class="error-message">Mobile Number is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Mail Id <sup>*</sup></label>
                        <input type="email" class="form-control " placeholder="Enter Mail Id" formControlName="mailId">
                        <div
                            *ngIf="companyCodeFormData.controls['mailId'].touched && companyCodeFormData.controls['mailId'].dirty && companyCodeFormData.controls['mailId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Mail Id is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && companyCodeFormData.controls['mailId'].hasError('required')">
                            <p class="error-message">Mail Id is mandatory</p>
                        </div>
                        <div *ngIf="companyCodeFormData.get('mailId').hasError('pattern')">
                            <p class="error-message">Please enter a valid email address.</p>
                          </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Company Registration No</label>
                        <input type="text" placeholder="Enter company reg. no." class="form-control" formControlName="companyRegistrationNo">
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">PAN Number</label>
                        <input type="text" placeholder="Enter pan no" class="form-control" formControlName="panNumber">
                    </div>

                </div>
                

                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="submit" class="btn btn-primary" style="background-color: #00acff;">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
